{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://batch.amazonaws.com/"
        },
        {
            "url": "http://batch.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>AWS Batch enables you to run batch computing workloads on the AWS Cloud. Batch computing is a common way for developers, scientists, and engineers to access large amounts of compute resources, and AWS Batch removes the undifferentiated heavy lifting of configuring and managing the required infrastructure. AWS Batch will be familiar to users of traditional batch computing software. This service can efficiently provision resources in response to jobs submitted in order to eliminate capacity constraints, reduce compute costs, and deliver results quickly.</p> <p>As a fully managed service, AWS Batch enables developers, scientists, and engineers to run batch computing workloads of any scale. AWS Batch automatically provisions compute resources and optimizes the workload distribution based on the quantity and scale of the workloads. With AWS Batch, there is no need to install or manage batch computing software, which allows you to focus on analyzing results and solving problems. AWS Batch reduces operational complexities, saves time, and reduces costs, which makes it easy for developers, scientists, and engineers to run their batch jobs in the AWS Cloud.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Batch",
        "version": "2016-08-10",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/batch-2016-08-10.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "batch"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/batch/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/v1/canceljob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Cancels a job in an AWS Batch job queue. Jobs that are in the <code>SUBMITTED</code>, <code>PENDING</code>, or <code>RUNNABLE</code> state are cancelled. Jobs that have progressed to <code>STARTING</code> or <code>RUNNING</code> are not cancelled (but the API operation still succeeds, even if no job is cancelled); these jobs must be terminated with the <a>TerminateJob</a> operation.",
                "operationId": "CancelJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "jobId": "1d828f65-7a4d-42e8-996d-3b900ed59dc4",
                                    "reason": "Cancelling job."
                                },
                                "properties": {
                                    "jobId": {
                                        "description": "The AWS Batch job ID of the job to cancel.",
                                        "type": "string"
                                    },
                                    "reason": {
                                        "description": "A message to attach to the job that explains the reason for canceling it. This message is returned by future <a>DescribeJobs</a> operations on the job. This message is also recorded in the AWS Batch activity logs. ",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "jobId",
                                    "reason"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/createcomputeenvironment": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an AWS Batch compute environment. You can create <code>MANAGED</code> or <code>UNMANAGED</code> compute environments.</p> <p>In a managed compute environment, AWS Batch manages the capacity and instance types of the compute resources within the environment. This is based on the compute resource specification that you define or the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\">launch template</a> that you specify when you create the compute environment. You can choose to use Amazon EC2 On-Demand Instances or Spot Instances in your managed compute environment. You can optionally set a maximum price so that Spot Instances only launch when the Spot Instance price is below a specified percentage of the On-Demand price.</p> <note> <p>Multi-node parallel jobs are not supported on Spot Instances.</p> </note> <p>In an unmanaged compute environment, you can manage your own compute resources. This provides more compute resource configuration options, such as using a custom AMI, but you must ensure that your AMI meets the Amazon ECS container instance AMI specification. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html\">Container Instance AMIs</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. After you have created your unmanaged compute environment, you can use the <a>DescribeComputeEnvironments</a> operation to find the Amazon ECS cluster that is associated with it. Then, manually launch your container instances into that Amazon ECS cluster. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html\">Launching an Amazon ECS Container Instance</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> <note> <p>AWS Batch does not upgrade the AMIs in a compute environment after it is created (for example, when a newer version of the Amazon ECS-optimized AMI is available). You are responsible for the management of the guest operating system (including updates and security patches) and any additional application software or utilities that you install on the compute resources. To use a new AMI for your AWS Batch jobs:</p> <ol> <li> <p>Create a new compute environment with the new AMI.</p> </li> <li> <p>Add the compute environment to an existing job queue.</p> </li> <li> <p>Remove the old compute environment from your job queue.</p> </li> <li> <p>Delete the old compute environment.</p> </li> </ol> </note>",
                "operationId": "CreateComputeEnvironment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "computeEnvironmentArn": "arn:aws:batch:us-east-1:012345678910:compute-environment/M4Spot",
                                        "computeEnvironmentName": "M4Spot"
                                    },
                                    "properties": {
                                        "computeEnvironmentArn": {
                                            "description": "The Amazon Resource Name (ARN) of the compute environment. ",
                                            "type": "string"
                                        },
                                        "computeEnvironmentName": {
                                            "description": "The name of the compute environment.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "computeEnvironmentName": "M4Spot",
                                    "computeResources": {
                                        "bidPercentage": 20,
                                        "desiredvCpus": 4,
                                        "ec2KeyPair": "id_rsa",
                                        "instanceRole": "ecsInstanceRole",
                                        "instanceTypes": [
                                            "m4"
                                        ],
                                        "maxvCpus": 128,
                                        "minvCpus": 0,
                                        "securityGroupIds": [
                                            "sg-cf5093b2"
                                        ],
                                        "spotIamFleetRole": "arn:aws:iam::012345678910:role/aws-ec2-spot-fleet-role",
                                        "subnets": [
                                            "subnet-220c0e0a",
                                            "subnet-1a95556d",
                                            "subnet-978f6dce"
                                        ],
                                        "tags": {
                                            "Name": "Batch Instance - M4Spot"
                                        },
                                        "type": "SPOT"
                                    },
                                    "serviceRole": "arn:aws:iam::012345678910:role/AWSBatchServiceRole",
                                    "state": "ENABLED",
                                    "type": "MANAGED"
                                },
                                "properties": {
                                    "computeEnvironmentName": {
                                        "description": "The name for your compute environment. Up to 128 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.",
                                        "type": "string"
                                    },
                                    "computeResources": {
                                        "description": "Details of the compute resources managed by the compute environment. This parameter is required for managed compute environments.",
                                        "properties": {
                                            "bidPercentage": {
                                                "description": "The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must be below 20% of the current On-Demand price for that EC2 instance. You always pay the lowest (market) price and never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand price.",
                                                "type": "integer"
                                            },
                                            "desiredvCpus": {
                                                "description": "The desired number of EC2 vCPUS in the compute environment. ",
                                                "type": "integer"
                                            },
                                            "ec2KeyPair": {
                                                "description": "The EC2 key pair that is used for instances launched in the compute environment.",
                                                "type": "string"
                                            },
                                            "imageId": {
                                                "description": "The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.",
                                                "type": "string"
                                            },
                                            "instanceRole": {
                                                "description": "The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name or full Amazon Resource Name (ARN) of an instance profile. For example, <code>ecsInstanceRole</code> or <code>arn:aws:iam::&lt;aws_account_id&gt;:instance-profile/ecsInstanceRole</code>. For more information, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS Instance Role</a> in the <i>AWS Batch User Guide</i>.",
                                                "type": "string"
                                            },
                                            "instanceTypes": {
                                                "description": "The instances types that may be launched. You can specify instance families to launch any instance type within those families (for example, <code>c4</code> or <code>p3</code>), or you can specify specific sizes within a family (such as <code>c4.8xlarge</code>). You can also choose <code>optimal</code> to pick instance types (from the latest C, M, and R instance families) on the fly that match the demand of your job queues.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "launchTemplate": {
                                                "description": "The launch template to use for your compute resources. Any other compute resource parameters that you specify in a <a>CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You must specify either the launch template ID or launch template name in the request, but not both. ",
                                                "properties": {
                                                    "launchTemplateId": {
                                                        "description": "The ID of the launch template.",
                                                        "type": "string"
                                                    },
                                                    "launchTemplateName": {
                                                        "description": "The name of the launch template.",
                                                        "type": "string"
                                                    },
                                                    "version": {
                                                        "description": "<p>The version number of the launch template.</p> <p>Default: The default version of the launch template.</p>",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxvCpus": {
                                                "description": "The maximum number of EC2 vCPUs that an environment can reach. ",
                                                "type": "integer"
                                            },
                                            "minvCpus": {
                                                "description": "The minimum number of EC2 vCPUs that an environment should maintain (even if the compute environment is <code>DISABLED</code>). ",
                                                "type": "integer"
                                            },
                                            "placementGroup": {
                                                "description": "The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel jobs to your compute environment, you should consider creating a cluster placement group and associate it with your compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single Availability Zone with high network flow potential. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.",
                                                "type": "string"
                                            },
                                            "securityGroupIds": {
                                                "description": "The EC2 security group that is associated with instances launched in the compute environment. ",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "spotIamFleetRole": {
                                                "description": "The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment.",
                                                "type": "string"
                                            },
                                            "subnets": {
                                                "description": "The VPC subnets into which the compute resources are launched. ",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "tags": {
                                                "description": "Key-value pair tags to be applied to resources that are launched in the compute environment. ",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "type": {
                                                "description": "The type of compute environment.",
                                                "enum": [
                                                    "EC2",
                                                    "SPOT"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "minvCpus",
                                            "maxvCpus",
                                            "instanceTypes",
                                            "subnets",
                                            "instanceRole"
                                        ],
                                        "type": "object"
                                    },
                                    "serviceRole": {
                                        "description": "<p>The full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls to other AWS services on your behalf.</p> <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN (this is recommended) or prefix the role name with the path.</p> <note> <p>Depending on how you created your AWS Batch service role, its ARN may contain the <code>service-role</code> path prefix. When you only specify the name of the service role, AWS Batch assumes that your ARN does not use the <code>service-role</code> path prefix. Because of this, we recommend that you specify the full ARN of your service role when you create compute environments.</p> </note>",
                                        "type": "string"
                                    },
                                    "state": {
                                        "description": "The state of the compute environment. If the state is <code>ENABLED</code>, then the compute environment accepts jobs from a queue and can scale out automatically based on queues.",
                                        "enum": [
                                            "ENABLED",
                                            "DISABLED"
                                        ],
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the compute environment. For more information, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in the <i>AWS Batch User Guide</i>.",
                                        "enum": [
                                            "MANAGED",
                                            "UNMANAGED"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "computeEnvironmentName",
                                    "type",
                                    "serviceRole"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/createjobqueue": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an AWS Batch job queue. When you create a job queue, you associate one or more compute environments to the queue and assign an order of preference for the compute environments.</p> <p>You also set a priority to the job queue that determines the order in which the AWS Batch scheduler places jobs onto its associated compute environments. For example, if a compute environment is associated with more than one job queue, the job queue with a higher priority is given preference for scheduling jobs to that compute environment.</p>",
                "operationId": "CreateJobQueue",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "jobQueueArn": "arn:aws:batch:us-east-1:012345678910:job-queue/HighPriority",
                                        "jobQueueName": "HighPriority"
                                    },
                                    "properties": {
                                        "jobQueueArn": {
                                            "description": "The Amazon Resource Name (ARN) of the job queue.",
                                            "type": "string"
                                        },
                                        "jobQueueName": {
                                            "description": "The name of the job queue.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "jobQueueName",
                                        "jobQueueArn"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "computeEnvironmentOrder": [
                                        {
                                            "computeEnvironment": "C4OnDemand",
                                            "order": 1
                                        },
                                        {
                                            "computeEnvironment": "M4Spot",
                                            "order": 2
                                        }
                                    ],
                                    "jobQueueName": "HighPriority",
                                    "priority": 10,
                                    "state": "ENABLED"
                                },
                                "properties": {
                                    "computeEnvironmentOrder": {
                                        "description": "The set of compute environments mapped to a job queue and their order relative to each other. The job scheduler uses this parameter to determine which compute environment should execute a given job. Compute environments must be in the <code>VALID</code> state before you can associate them with a job queue. You can associate up to three compute environments with a job queue.",
                                        "items": {
                                            "description": "The order in which compute environments are tried for job placement within a queue. Compute environments are tried in ascending order. For example, if two compute environments are associated with a job queue, the compute environment with a lower order integer value is tried for job placement first.",
                                            "properties": {
                                                "computeEnvironment": {
                                                    "description": "The Amazon Resource Name (ARN) of the compute environment.",
                                                    "type": "string"
                                                },
                                                "order": {
                                                    "description": "The order of the compute environment.",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "order",
                                                "computeEnvironment"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "jobQueueName": {
                                        "description": "The name of the job queue.",
                                        "type": "string"
                                    },
                                    "priority": {
                                        "description": "The priority of the job queue. Job queues with a higher priority (or a higher integer value for the <code>priority</code> parameter) are evaluated first when associated with the same compute environment. Priority is determined in descending order, for example, a job queue with a priority value of <code>10</code> is given scheduling preference over a job queue with a priority value of <code>1</code>.",
                                        "type": "integer"
                                    },
                                    "state": {
                                        "description": "The state of the job queue. If the job queue state is <code>ENABLED</code>, it is able to accept jobs.",
                                        "enum": [
                                            "ENABLED",
                                            "DISABLED"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "jobQueueName",
                                    "priority",
                                    "computeEnvironmentOrder"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/deletecomputeenvironment": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes an AWS Batch compute environment.</p> <p>Before you can delete a compute environment, you must set its state to <code>DISABLED</code> with the <a>UpdateComputeEnvironment</a> API operation and disassociate it from any job queues with the <a>UpdateJobQueue</a> API operation.</p>",
                "operationId": "DeleteComputeEnvironment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "computeEnvironment": "P2OnDemand"
                                },
                                "properties": {
                                    "computeEnvironment": {
                                        "description": "The name or Amazon Resource Name (ARN) of the compute environment to delete. ",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "computeEnvironment"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/deletejobqueue": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the specified job queue. You must first disable submissions for a queue with the <a>UpdateJobQueue</a> operation. All jobs in the queue are terminated when you delete a job queue.</p> <p>It is not necessary to disassociate compute environments from a queue before submitting a <code>DeleteJobQueue</code> request. </p>",
                "operationId": "DeleteJobQueue",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "jobQueue": "GPGPU"
                                },
                                "properties": {
                                    "jobQueue": {
                                        "description": "The short name or full Amazon Resource Name (ARN) of the queue to delete. ",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "jobQueue"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/deregisterjobdefinition": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deregisters an AWS Batch job definition.",
                "operationId": "DeregisterJobDefinition",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "jobDefinition": "sleep10"
                                },
                                "properties": {
                                    "jobDefinition": {
                                        "description": "The name and revision (<code>name:revision</code>) or full Amazon Resource Name (ARN) of the job definition to deregister. ",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "jobDefinition"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/describecomputeenvironments": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Describes one or more of your compute environments.</p> <p>If you are using an unmanaged compute environment, you can use the <code>DescribeComputeEnvironment</code> operation to determine the <code>ecsClusterArn</code> that you should launch your Amazon ECS container instances into.</p>",
                "operationId": "DescribeComputeEnvironments",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "computeEnvironments": [
                                            {
                                                "computeEnvironmentArn": "arn:aws:batch:us-east-1:012345678910:compute-environment/P2OnDemand",
                                                "computeEnvironmentName": "P2OnDemand",
                                                "computeResources": {
                                                    "desiredvCpus": 48,
                                                    "ec2KeyPair": "id_rsa",
                                                    "instanceRole": "ecsInstanceRole",
                                                    "instanceTypes": [
                                                        "p2"
                                                    ],
                                                    "maxvCpus": 128,
                                                    "minvCpus": 0,
                                                    "securityGroupIds": [
                                                        "sg-cf5093b2"
                                                    ],
                                                    "subnets": [
                                                        "subnet-220c0e0a",
                                                        "subnet-1a95556d",
                                                        "subnet-978f6dce"
                                                    ],
                                                    "tags": {
                                                        "Name": "Batch Instance - P2OnDemand"
                                                    },
                                                    "type": "EC2"
                                                },
                                                "ecsClusterArn": "arn:aws:ecs:us-east-1:012345678910:cluster/P2OnDemand_Batch_2c06f29d-d1fe-3a49-879d-42394c86effc",
                                                "serviceRole": "arn:aws:iam::012345678910:role/AWSBatchServiceRole",
                                                "state": "ENABLED",
                                                "status": "VALID",
                                                "statusReason": "ComputeEnvironment Healthy",
                                                "type": "MANAGED"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "computeEnvironments": {
                                            "description": "The list of compute environments.",
                                            "items": {
                                                "description": "An object representing an AWS Batch compute environment.",
                                                "properties": {
                                                    "computeEnvironmentArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the compute environment. ",
                                                        "type": "string"
                                                    },
                                                    "computeEnvironmentName": {
                                                        "description": "The name of the compute environment. ",
                                                        "type": "string"
                                                    },
                                                    "computeResources": {
                                                        "description": "The compute resources defined for the compute environment. ",
                                                        "properties": {
                                                            "bidPercentage": {
                                                                "description": "The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must be below 20% of the current On-Demand price for that EC2 instance. You always pay the lowest (market) price and never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand price.",
                                                                "type": "integer"
                                                            },
                                                            "desiredvCpus": {
                                                                "description": "The desired number of EC2 vCPUS in the compute environment. ",
                                                                "type": "integer"
                                                            },
                                                            "ec2KeyPair": {
                                                                "description": "The EC2 key pair that is used for instances launched in the compute environment.",
                                                                "type": "string"
                                                            },
                                                            "imageId": {
                                                                "description": "The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.",
                                                                "type": "string"
                                                            },
                                                            "instanceRole": {
                                                                "description": "The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name or full Amazon Resource Name (ARN) of an instance profile. For example, <code>ecsInstanceRole</code> or <code>arn:aws:iam::&lt;aws_account_id&gt;:instance-profile/ecsInstanceRole</code>. For more information, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS Instance Role</a> in the <i>AWS Batch User Guide</i>.",
                                                                "type": "string"
                                                            },
                                                            "instanceTypes": {
                                                                "description": "The instances types that may be launched. You can specify instance families to launch any instance type within those families (for example, <code>c4</code> or <code>p3</code>), or you can specify specific sizes within a family (such as <code>c4.8xlarge</code>). You can also choose <code>optimal</code> to pick instance types (from the latest C, M, and R instance families) on the fly that match the demand of your job queues.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "launchTemplate": {
                                                                "description": "The launch template to use for your compute resources. Any other compute resource parameters that you specify in a <a>CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You must specify either the launch template ID or launch template name in the request, but not both. ",
                                                                "properties": {
                                                                    "launchTemplateId": {
                                                                        "description": "The ID of the launch template.",
                                                                        "type": "string"
                                                                    },
                                                                    "launchTemplateName": {
                                                                        "description": "The name of the launch template.",
                                                                        "type": "string"
                                                                    },
                                                                    "version": {
                                                                        "description": "<p>The version number of the launch template.</p> <p>Default: The default version of the launch template.</p>",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "maxvCpus": {
                                                                "description": "The maximum number of EC2 vCPUs that an environment can reach. ",
                                                                "type": "integer"
                                                            },
                                                            "minvCpus": {
                                                                "description": "The minimum number of EC2 vCPUs that an environment should maintain (even if the compute environment is <code>DISABLED</code>). ",
                                                                "type": "integer"
                                                            },
                                                            "placementGroup": {
                                                                "description": "The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel jobs to your compute environment, you should consider creating a cluster placement group and associate it with your compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single Availability Zone with high network flow potential. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.",
                                                                "type": "string"
                                                            },
                                                            "securityGroupIds": {
                                                                "description": "The EC2 security group that is associated with instances launched in the compute environment. ",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "spotIamFleetRole": {
                                                                "description": "The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment.",
                                                                "type": "string"
                                                            },
                                                            "subnets": {
                                                                "description": "The VPC subnets into which the compute resources are launched. ",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "tags": {
                                                                "description": "Key-value pair tags to be applied to resources that are launched in the compute environment. ",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "type": {
                                                                "description": "The type of compute environment.",
                                                                "enum": [
                                                                    "EC2",
                                                                    "SPOT"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "type",
                                                            "minvCpus",
                                                            "maxvCpus",
                                                            "instanceTypes",
                                                            "subnets",
                                                            "instanceRole"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "ecsClusterArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster used by the compute environment. ",
                                                        "type": "string"
                                                    },
                                                    "serviceRole": {
                                                        "description": "The service role associated with the compute environment that allows AWS Batch to make calls to AWS API operations on your behalf.",
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "description": "<p>The state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>. </p> <p>If the state is <code>ENABLED</code>, then the AWS Batch scheduler can attempt to place jobs from an associated job queue on the compute resources within the environment. If the compute environment is managed, then it can scale its instances out or in automatically, based on the job queue demand.</p> <p>If the state is <code>DISABLED</code>, then the AWS Batch scheduler does not attempt to place jobs within the environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state continue to progress normally. Managed compute environments in the <code>DISABLED</code> state do not scale out. However, they scale in to <code>minvCpus</code> value after instances become idle.</p>",
                                                        "enum": [
                                                            "ENABLED",
                                                            "DISABLED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The current status of the compute environment (for example, <code>CREATING</code> or <code>VALID</code>).",
                                                        "enum": [
                                                            "CREATING",
                                                            "UPDATING",
                                                            "DELETING",
                                                            "DELETED",
                                                            "VALID",
                                                            "INVALID"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusReason": {
                                                        "description": "A short, human-readable string to provide additional details about the current status of the compute environment.",
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "The type of the compute environment.",
                                                        "enum": [
                                                            "MANAGED",
                                                            "UNMANAGED"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "computeEnvironmentName",
                                                    "computeEnvironmentArn",
                                                    "ecsClusterArn"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "The <code>nextToken</code> value to include in a future <code>DescribeComputeEnvironments</code> request. When the results of a <code>DescribeJobDefinitions</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "computeEnvironments": [
                                        "P2OnDemand"
                                    ]
                                },
                                "properties": {
                                    "computeEnvironments": {
                                        "description": "A list of up to 100 compute environment names or full Amazon Resource Name (ARN) entries. ",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of cluster results returned by <code>DescribeComputeEnvironments</code> in paginated output. When this parameter is used, <code>DescribeComputeEnvironments</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeComputeEnvironments</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>DescribeComputeEnvironments</code> returns up to 100 results and a <code>nextToken</code> value if applicable.",
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeComputeEnvironments</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/describejobdefinitions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes a list of job definitions. You can specify a <code>status</code> (such as <code>ACTIVE</code>) to only return job definitions that match that status.",
                "operationId": "DescribeJobDefinitions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "jobDefinitions": [
                                            {
                                                "containerProperties": {
                                                    "command": [
                                                        "sleep",
                                                        "60"
                                                    ],
                                                    "environment": [],
                                                    "image": "busybox",
                                                    "memory": 128,
                                                    "mountPoints": [],
                                                    "ulimits": [],
                                                    "vcpus": 1,
                                                    "volumes": []
                                                },
                                                "jobDefinitionArn": "arn:aws:batch:us-east-1:012345678910:job-definition/sleep60:1",
                                                "jobDefinitionName": "sleep60",
                                                "revision": 1,
                                                "status": "ACTIVE",
                                                "type": "container"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "jobDefinitions": {
                                            "description": "The list of job definitions. ",
                                            "items": {
                                                "description": "An object representing an AWS Batch job definition.",
                                                "properties": {
                                                    "containerProperties": {
                                                        "description": "An object with various properties specific to container-based jobs. ",
                                                        "properties": {
                                                            "command": {
                                                                "description": "The command that is passed to the container. This parameter maps to <code>Cmd</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "environment": {
                                                                "description": "<p>The environment variables to pass to a container. This parameter maps to <code>Env</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p> <important> <p>We do not recommend using plaintext environment variables for sensitive information, such as credential data.</p> </important> <note> <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p> </note>",
                                                                "items": {
                                                                    "description": "A key-value pair object.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the key-value pair. For environment variables, this is the name of the environment variable.",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "description": "The value of the key-value pair. For environment variables, this is the value of the environment variable.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "image": {
                                                                "description": "<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p> <ul> <li> <p>Images in Amazon ECR repositories use the full registry and repository URI (for example, <code>012345678910.dkr.ecr.&lt;region-name&gt;.amazonaws.com/&lt;repository-name&gt;</code>). </p> </li> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>",
                                                                "type": "string"
                                                            },
                                                            "instanceType": {
                                                                "description": "The instance type to use for a multi-node parallel job. Currently all node groups in a multi-node parallel job must use the same instance type. This parameter is not valid for single-node container jobs.",
                                                                "type": "string"
                                                            },
                                                            "jobRoleArn": {
                                                                "description": "The Amazon Resource Name (ARN) of the IAM role that the container can assume for AWS permissions.",
                                                                "type": "string"
                                                            },
                                                            "memory": {
                                                                "description": "<p>The hard limit (in MiB) of memory to present to the container. If your container attempts to exceed the memory specified here, the container is killed. This parameter maps to <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. You must specify at least 4 MiB of memory for a job.</p> <note> <p>If you are trying to maximize your resource utilization by providing your jobs as much memory as possible for a particular instance type, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/memory-management.html\">Memory Management</a> in the <i>AWS Batch User Guide</i>.</p> </note>",
                                                                "type": "integer"
                                                            },
                                                            "mountPoints": {
                                                                "description": "The mount points for data volumes in your container. This parameter maps to <code>Volumes</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.",
                                                                "items": {
                                                                    "description": "Details on a Docker volume mount point that is used in a job's container properties.",
                                                                    "properties": {
                                                                        "containerPath": {
                                                                            "description": "The path on the container at which to mount the host volume.",
                                                                            "type": "string"
                                                                        },
                                                                        "readOnly": {
                                                                            "description": "If this value is <code>true</code>, the container has read-only access to the volume; otherwise, the container can write to the volume. The default value is <code>false</code>.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "sourceVolume": {
                                                                            "description": "The name of the volume to mount.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "privileged": {
                                                                "description": "When this parameter is true, the container is given elevated privileges on the host container instance (similar to the <code>root</code> user). This parameter maps to <code>Privileged</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--privileged</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.",
                                                                "type": "boolean"
                                                            },
                                                            "readonlyRootFilesystem": {
                                                                "description": "When this parameter is true, the container is given read-only access to its root file system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--read-only</code> option to <code>docker run</code>.",
                                                                "type": "boolean"
                                                            },
                                                            "ulimits": {
                                                                "description": "A list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.",
                                                                "items": {
[...]
